#MenuMain
{
    padding: 0px;
    margin: 0px;
    height: 38px;
    overflow: hidden;
    list-style-type: none;
    cursor: pointer;
}

 

.TopGroup
{
    cursor: pointer;
}

 

.MenuGroup
{
    padding: 0px;
    margin: 0px 0px 0px 0px;
    border: 1px solid #000034;
    cursor: pointer;
    font-family: 'times New Roman' , Times, serif;
}

.TopMenuItem
{
    list-style: none;
    float: left;
    font-size: 12px;
    float: left;
    text-transform: uppercase;
    background: url(../images/divider.png) no-repeat right;
    line-height: 38px;
     text-decoration: none;
    color: #fff;
    padding: 0 30px;
}

 .TopMenuItemHover
 {
    list-style: none;
    float: left;
    font-size: 12px;
    float: left;
    text-transform: uppercase;
    background: url(../images/divider.png) no-repeat right;
    line-height: 38px;
     text-decoration: none;
    color: #fff;
    padding: 0 30px;  
     }




 

 

.MenuItem
{
    padding: 0px;
    color: #FFFFFF;
    font-family: 'times New Roman' , Times, serif;
    font-size: 14px;
    margin: 0px;
    cursor: default;
    background-color: #000000;
}

 

.MenuItemHover
{
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
    font-family: 'times New Roman' , Times, serif;
    font-size: 14px;
    cursor: pointer;
    background-color: #000000;
}

 

.MenuBreak
{
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-color: #000034;
    height: 1px;
}

 

.TemplatedItem

{

}

 

 
