

html,
button,
input,
select,
textarea {
    color:#7A7979;
    outline:none;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
p {
	padding:0px;
	line-height:20px;
	color:#7a7979;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;	
	margin:10px 0 10px 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
	max-width:100%;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/*-----Fonts--------*/

@font-face {
    font-family: 'cuprumbold';
    src: url('../fonts/cuprum-bold.eot');
    src: url('../fonts/cuprum-boldd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cuprum-bold.woff') format('woff'),
         url('../fonts/cuprum-bold.ttf') format('truetype'),
         url('../fonts/cuprum-bold.svg#cuprumbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cuprumregular';
    src: url('../fonts/cuprum-regular.eot');
    src: url('../fonts/cuprum-regulard41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cuprum-regular.woff') format('woff'),
         url('../fonts/cuprum-regular.ttf') format('truetype'),
         url('../fonts/cuprum-regular.svg#cuprumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ===== Layout ==================================================
   Author: www.canadahitech.com
   Style: Abdul Azeez
   ========================================================================== */

html {
  background: #ffffff;
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f3f5f6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  line-height:20px;
  color: #7a7979;
}
.wrapper {
    width: 90%;
    margin: 0 5%;
}
#Main-Container {
	width:100%;
	height:100%;
	overflow:hidden;
	position:relative;	
}
.banner {
	width:100%;
}
/*.banner li .iner-content-banner {
	idth:960px;
	background:#33CC66;
	position:absolute;
	top:200px;	
	left:auto;
	right:auto;
	z-index:99999999;
}*/
.banner li {
	float:left;
}
.header-container {
	width:100%;
	position:absolute;
	top:5px;
	background:none;
	z-index:9
}
.inner-header {
	width:90%;
	max-width:960px;
	margin:0px auto;
	color:#FFF;
}
.inner-header h1 {
	padding:0px;
	margin:0px;
	max-width:111px;
	margin:0px auto;
}
.header-right {
	width:90%;
	height:84px; 
	margin:0px auto;	
}
.header-top-links {
	width:51%;
	max-width:414px;
	float:right;
	margin-top:10px;
	display:none;
}
.search-box {
	width:208px;
	float:right;
	border:1px solid #453c37;
	border-right:0px none;
}
.search-panel {
	background:none;
	border:0px none;
	padding:3px;
	outline:none;
	color:#FFF;
	width:166px;
	height:19px;
}
.btn-ser {
	background:#567a37 url(../images/search-bt.png) no-repeat center;
	padding:5px 10px;
	border:0px none;
	float:right;
	width:33px;
	outline:none;
}
.top-link {	
	float:right;
	font-size:9px;
	margin-right:10px;
	margin-top: 5px;
	display:none;
}
.top-link a {
	text-decoration:none;
	color:#FFF;
	padding:0px 5px 0px 5px;
	text-transform:uppercase;	
}
.top-link a:hover {
	text-decoration:underline;	
}
/*-------------Menu---------------*/
.menu-cantainer {
	width:100%;
	float:right;
	background:rgba(86, 122, 55, 0.75);
	margin-top:10px;
}
.menu-cantainer ul {
	margin: 0 auto;
	padding: 0;
	height: 0;
	overflow: hidden;
}
.menu-cantainer ul.ul-menu-list li div  {
	display:none !important;
}
.menu-cantainer li {
	float:none;
}
.menu-cantainer li:hover > a {
	border-bottom:solid 3px #FFF;
	color:#FFF;
	background:url(../images/menu-hover.png) no-repeat center bottom;
}
.menu-cantainer a {
	font-family: "cuprumbold";	
	font-size:16px;
	color:#FFF;
	text-decoration:none;
	text-transform:uppercase;
	padding:0 17px;
	display:block;
	line-height:25px;
	text-align:center;
}
.menu-cantainer li a {
	font-family: "cuprumbold";	
	font-size:16px;
	color:#FFF;
	text-decoration:none;
	text-transform:uppercase;
	padding:0 17px;
	display:block;
	line-height:25px;
	text-align:center;
	text-align:center;
}
.menu-cantainer a.clickall {
	margin-bottom:0px;
}
.menu-cantainer li a:hover {
	color:#567a37;
	background:#FFF;
}
/*--------------Content-------------*/
.content-panel {
	width:90%;
	max-width:960px;
	overflow:hidden;
	margin:20px auto;
	margin-bottom:0px;
}
.projects-slider {
	width:100%;
	float:left;	
}
.projects-headeing {
	width:100%;
	float:left;	
}
.projects-headeing img {
	float:left;	
}
.projects-headeing h1 {
	margin-top:10px;	
	float:left;
}
.slider01 {
	width:100%;
	float:right;
}
.slider01 li {
	float:left;
	width:210px;
	text-align:center;
}
.slider01 li div {
	width:100%;
	float:left;	
}
.slider01 li div img {
	float:left;	
}
.bg {
	width:100%;
	float:left;
	background:url(../images/list-bg.png) no-repeat;
	height:13px;	
}
.slider01 li div span a {
	color:#393939;
	font-size:16px;
	text-transform:uppercase;
	font-family: "cuprumregular";
	text-decoration:none;
}
.welcome-mg {
	width:100%;
	float:left;
	margin-top:0px;
	background:url(../images/msg-bg.png) no-repeat top center;
	text-align:center;	
}
.welcome-mg h1 {
	margin-top:45px;
	margin-bottom:10px;	
}
.welcome-mg p.msg {
	font-size:16px;
	color:#393939;	
	margin:0px;
	padding:0px;
}
.welcome-mg ul {
	margin-top:30px;	
}
.welcome-mg  li {
	float:left;
	margin-right:30px;
	width:100%;	
	overflow:hidden;
	margin-bottom:10px;
}
.box01 {
	width:100%;
	float:left;
	border-bottom:solid 8px #567a37;
	margin-bottom:10px;	
}
.box01 img {
	width:100%;	
	float:left;
}
.welcome-mg li b a {
	color:#567a37;
	font-size:20px;
	font-family: "cuprumregular";
	text-decoration:none;	
	background:url(../images/icon01.png) no-repeat right;
	padding-right:15px;
	font-weight:normal;
}
.welcome-mg li p {
	margin:0px;	
}
.welcome-mg li.third-item {
	margin-right:0px;	
}
.services-scroller {
	width:100%;
	float:left;
	margin-top:20px;	
}
.services-headeing {
	width:100%;
	text-align:center;
	background:url(../images/services-g.png) no-repeat left center;	
}
.ser-scroller-panel {
	width:100%;
	float:left;
}
.ser-scroller-panel li {
	float:left;
	margin-right:30px;
	width:300px;	
}
.two-box-panel {
	width:100%;
	float:left;
	border-top:solid 1px #ccc;
	padding-top:30px;
	margin-top:15px;
	position:relative;
}
.first-news {
	max-width:558px;
	float:left;
	width:58.75%	
}
.hover-services {
	width:300px;
	background:rgba(0, 0, 0, 0.75);	
	position:absolute;
	bottom:-118px;
	text-align:center;
	color:#FFF;
	height:170px;
}
.srv-box:hover > .hover-services {
	width:300px;
	background:rgba(0, 0, 0, 0.75);	
	position:absolute;
	bottom:0px;
	text-align:center;
	color:#FFF;
	height:170px;
	transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;	
}
.hover-services a {
	color:#FFF;
	font-size:18px;
	text-decoration:none;
	display:block;
	padding-top:20px;	
}
.hover-services p {
	color:#FFF;
	width:80%;
	margin:0px auto;
	padding-bottom:10px;
	padding-top:10px;
	font-size:12px;	
}
.hover-services a.links {
	text-indent: -9999px;
	background:url(../images/links-icon.png) no-repeat top left;
	height:10px !important;
	width:31px;
	display:block;
	float:left;
	margin-left:134px;	
	
}
.hover-services a.links:hover {
	background:url(../images/links-icon.png) no-repeat bottom left;	
}
.hover-services a.search-links {
	text-indent: -9999px;
	background:url(../images/search-icon.png) no-repeat top left;
	height:10px !important;
	width:31px;
	display:block;
	float:left;		
}
.hover-services a.search-links:hover {
	background:url(../images/search-icon.png) no-repeat bottom left;	
}
.news-panel {
	width:100%;
	float:left;
}
.news-panel li {
	width:358px;
	float:left;		
}
.scroller-icon {
	width:150px;
	float:left;
}
.news-content {
	width:353px;
	float:right;	
}
.news-content a 
{
    text-decoration:none;
    color:#7A7979;    
}
.home-contact {
	width:100%;
	float:right;
}
.home-contact img {
	float:left;
	margin-left:43px;	
}
.h-contact-panel {
	width:208px;
	float:right;
}
.footer-container {
	width:100%;
	float:left;
	margin-top:20px;
	background:#000;
	overflow:hidden;	
}
.footer-menu {
	width:100%;
	border-bottom:solid 1px #3c4438;
	overflow:hidden;	
}
.inner-footer-menu {
	width:100%;
	max-width:960px;
	color:#c7e1ba;
	margin:0px auto;	
}
.inner-footer-menu ul {
	padding:0px;
	margin:0px;
	list-style:none;	
}
.inner-footer-menu li {
	float:left;	
}
.inner-footer-menu li a {
	padding:0 10px;
	display:block;
	text-align:center;
	text-decoration:none;
	text-transform:capitalize;
	color:#c7e1ba;
	font-size:12px;
	line-height:40px;
	background:url(../images/footer-bg.png) no-repeat right center; 		
}
.inner-footer-menu li.first-item a 
{
    padding-left:0px;
}
.inner-footer-menu li.last-item a {
	background:none;	
}
.inner-footer-menu li a:hover {
	color:#FFF;	
}
.main-footer {
	width:90%;
	max-width:960px;
	margin:20px auto;
	margin-bottom:0px;	
}
.follow {
	width:100%;
	float:left;	
}
.follow-icons {
	width:100%;
	float:left;
	color:#c7e1ba;
	margin-bottom:20px;	
}
.follow-icons span {
	float:left;
	margin-right:10px;	
}
.follow-icons ul {
	padding:0px;
	margin:0px;
	list-style:none;
	float:left;	
}
.follow-icons ul li {
	float:left;
	margin-right:5px;	
}
.follow-icons a {
	color:#c7e1ba;
	text-decoration:none;
}
.footer-links {
	width:100%;
	float:right;	
}
.footer-links ul {
	padding:0px;
	margin:0px;
	list-style:none;
}
.footer-links ul li {
	float:left;
	width:100%;
	border-left:solid 0px #3c4438;	
	margin-bottom:20px;	
}
.footer-links ul li .inner-links {
	width:100%;
	float:left;
	text-align:center;
	margin-left:0px;	
}
.footer-links ul li .inner-links b {
	color:#c7e1ba;
	font-size:15px;
	margin-bottom:10px;	
}
.footer-links ul li .inner-links a {
	color:#c7e1ba;
	font-size:12px;
	width:100%;
	float:left;
	text-decoration:none;
}
.footer-links ul li .inner-links a:hover {
	color:#FFF;	
}
.srv-box {
	width:100%;
	float:left;
	position:relative;
	height:170px;
	overflow:hidden;	
}
.ser-bg {
	width:100%;
	float:left;
	background:url(../images/services-bg.png) no-repeat;
	height:29px;	
}
nav.menu-cantainer ul div {
	position:absolute;
	left:0px;
	padding:6px 0;
	width:230px;
	background:#FFF;
	z-index: 102;
	display: none;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
	.welcome-mg  li {
		float:left;
		width:29.25%;
		max-width:300px;
		margin-right:20px;
		text-align:center;
	}
	.footer-links ul li {
		float:left;
		width:49%;
		border-left:solid 1px #3c4438;
		margin-bottom:20px;	
	}
}

@media only screen and (min-width: 768px) {
	.textElement41_classic_FullWidth {
		width:250px;
		height:257px;
		background:url(../images/banner-box-bg.png) no-repeat;	
		font-family:"dosisbold";
		text-align:right;
		font-weight:normal;
		display:none;
	}
	.header-container {
		width:100%;
		position:absolute;
		top:20px;
		background:url(../images/header-bg.png) repeat scroll left top;
		z-index:9
	}
	.inner-header h1 {
		padding:0px;
		margin:0px;
		width:11.5625%;
		max-width:111px;
		float:left;
	}
	.inner-header h1 {
		padding:0px;
		margin:0px;
		width:11.5625#;
		max-width:111px;
		float:left;
	}
	.header-right {
		width:84.0625%;
		max-width:807px;
		float:right;
	}
	.top-link {	
		float:right;
		font-size:9px;
		margin-right:10px;
		margin-top: 5px;
		display:block;
	}
	.header-top-links {
		width:72%;
		max-width:414px;
		float:right;
		margin-top:10px;
		display:block;
	}
	.menu-cantainer {
		width:100%;
		float:right;
		background: url(../images/menu-top-bg.png) no-repeat top center;
		margin-top:7px;
	}
	.menu-cantainer li {
		float:left;
		position:relative;
	}
	.menu-cantainer li a {
		font-family: "cuprumbold";	
		font-size:16px;
		color:#FFF;
		text-decoration:none;
		text-transform:uppercase;
		padding:0 7px;
		display:block;
		line-height:37px;
	}
	.menu-cantainer li a:hover {
		border-bottom:solid 3px #FFF;
		color:#FFF;
		background:url(../images/menu-hover.png) no-repeat center bottom;
	}
	.menu-cantainer a.clickall {
		display:none;
	}
	.menu-cantainer ul {
		margin: 0 auto;
		padding: 0;
		height: 0;
		overflow:visible;
	}

	.slider01 {
		width:75.4683%;
		max-width:734px;
		float:right;
	}
	.projects-headeing {
		width:23.75%;
		max-width:228px;
		float:left;	
	}
	.projects-headeing h1 {
		margin-top:10px;	
	}
	.welcome-mg  li {
		float:left;
		width:30.25%;
		max-width:300px;
		margin-right:30px;
		text-align:center;
	}
	.news-panel {
		width:37.29%;
		max-width:358px;
		float:left;
	}
	.home-contact {
		width:41.77%;
		max-width:401px;
		float:right;
		border-left:solid 1px #cccccc;
	}
	.follow {
		width:30.1041%;
		max-width:289px;
		float:left;	
	}
	.footer-links {
		width:62.18%;
		max-width:597px;
		float:right;	
	}
	.footer-links ul li {
		float:right;
		width:32.50%;
		max-width:194px;
		border-left:solid 1px #3c4438;
		margin-bottom:0px;		
	}
	.footer-links ul li .inner-links {
		width:auto;
		float:left;
		margin-left:47px;
		text-align:left;	
	}
	nav.menu-cantainer ul div {
		position:absolute;
		left:0px;
		padding:6px 0;
		width:230px;
		background:#FFF;
		z-index: 102;
		display:block;
	}
}

@media only screen and (min-width: 1140px) {
	.menu-cantainer li a {
		font-family: "cuprumbold";	
		font-size:16px;
		color:#FFF;
		text-decoration:none;
		text-transform:uppercase;
		padding:0 17px;
		display:block;
		line-height:37px;
	}
		.welcome-mg  li {
		float:left;
		width:31.25%;
		max-width:300px;
		margin-right:30px;
		text-align:center;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*--------------------- Carousel ----------------------*/

.jcarousel-skin-tango {
	float:left;
	direction:ltr;
}
.jcarousel-skin-tango .jcarousel-container {
}
.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: ltr !important;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
	width:358px !important;
	margin:0px 0px;
}
.jcarousel-skin-tango .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
	width:358px !important;
	height:151px !important;
}
.jcarousel-skin-tango .jcarousel-item {
	padding:0px;
	height:151px !important;
	float:right;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left:0px !important;
	margin-right:0px !important;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 0px;
	margin-right: 0;
}
.jcarousel-skin-tango .jcarousel-item-vertical {
	margin-bottom:0px;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
	background: #fff;
	color: #000;
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
	position: absolute !important;
	top: 122px !important;
	right: 0px !important;
	width: 18px !important;
	height: 17px !important;
	cursor: pointer !important;
	background: transparent url(../images/scroll-nxt-bt.png) no-repeat 0 0 !important;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px;
	right: auto;
	background-image: url(Prev-bt.png);
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
	position: absolute !important;
	top: 122px !important;
	left: 326px !important;
	width: 18px !important;
	height: 17px !important;
	cursor: pointer !important;
	background: transparent url(../images/scroll-prev-bt.png) no-repeat 0 0 !important;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 5px;
	background-image: url(next-horizontal.png);
}

/*--------------------- Carousel 1 ----------------------*/

.jcarousel-skin-tango1 {
	float:left;
	direction:ltr;
}
.jcarousel-skin-tango1 .jcarousel-container {
}
.jcarousel-skin-tango1 .jcarousel-direction-rtl {
	direction: ltr !important;
}
.jcarousel-skin-tango1 .jcarousel-container-horizontal {
	width:960px !important;
	margin:0px 0px;
}
.jcarousel-skin-tango1 .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-skin-tango1 .jcarousel-clip-horizontal {
	width:960px !important;
	height:198px;
}
.jcarousel-skin-tango1 .jcarousel-item {
	padding:0px;
	height:198px;
	float:right;
}
.jcarousel-skin-tango1 .jcarousel-item-horizontal {
	margin-left:0px;
	margin-right:30px;
}
.jcarousel-skin-tango1 .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 0px;
	margin-right: 0;
}
.jcarousel-skin-tango1 .jcarousel-item-vertical {
	margin-bottom:0px;
}
.jcarousel-skin-tango1 .jcarousel-item-placeholder {
	background: #fff;
	color: #000;
}
.jcarousel-skin-tango1 .jcarousel-next-horizontal {
	position: absolute;
	top:-38px;
	right: 0px;
	width: 21px;
	height: 20px;
	cursor: pointer;
	background: transparent url(../images/ser-scroll-nxt-bt.png) no-repeat 0 0;
}
.jcarousel-skin-tango1 .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px;
	right: auto;
	background-image: url(Prev-bt.png);
}
.jcarousel-skin-tango1 .jcarousel-prev-horizontal {
	position: absolute;
	top:-38px;
	right: 24px;
	width:21px;
	height:20px;
	cursor: pointer;
	background: transparent url(../images/ser-scroll-prev-bt.png) no-repeat 0 0;
}
.jcarousel-skin-tango1 .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 5px;
	background-image: url(next-horizontal.png);
}

/*--------------------- Carousel 2 ----------------------*/

.jcarousel-skin-tango2 {
	float:left;
	direction:ltr;
}
.jcarousel-skin-tango2 .jcarousel-container {
}
.jcarousel-skin-tango2 .jcarousel-direction-rtl {
	direction: ltr !important;
}
.jcarousel-skin-tango2 .jcarousel-container-horizontal {
	width:670px !important;
	margin:0px 0px;
}
.jcarousel-skin-tango2 .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-skin-tango2 .jcarousel-clip-horizontal {
	width:670px !important;
	height:198px;
}
.jcarousel-skin-tango2 .jcarousel-item {
	padding:0px;
	height:198px;
	float:right;
}
.jcarousel-skin-tango2 .jcarousel-item-horizontal {
	margin-left:0px;
	margin-right:20px;
}
.jcarousel-skin-tango2 .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 0px;
	margin-right: 0;
}
.jcarousel-skin-tango2 .jcarousel-item-vertical {
	margin-bottom:0px;
}
.jcarousel-skin-tango2 .jcarousel-item-placeholder {
	background: #fff;
	color: #000;
}
.jcarousel-skin-tango2 .jcarousel-next-horizontal {
	position: absolute;
	top:43px;
	right:-30px;
	width: 21px;
	height: 35px;
	cursor: pointer;
	background: transparent url(../images/next-top.png) no-repeat 0 0;
}
.jcarousel-skin-tango2 .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px;
	right: auto;
	background-image: url(Prev-bt.png);
}
.jcarousel-skin-tango2 .jcarousel-prev-horizontal {
	position: absolute;
	top:43px;
	left:-30px;
	width:21px;
	height:35px;
	cursor: pointer;
	background: transparent url(../images/prv-top.png) no-repeat 0 0;
}
.jcarousel-skin-tango2 .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 5px;
	background-image: url(next-horizontal.png);
}
/*-----------------Menu-Hover------------*/
nav.menu-cantainer ul div {
	position:absolute;
	left:0px;
	padding:4px 4px;
	width:210px;
	background:#FFF;
	z-index: 102;
	display: none;
}
nav.menu-cantainer ul div ul {
	margin:0;
	padding:0;
	list-style: none;
}
nav.menu-cantainer ul div ul li {
	width:100%;
	display:block;
	text-align:left;
	line-height:20px !important;
}
nav.menu-cantainer ul div ul li:hover {
	background:#567A37;	
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
nav.menu-cantainer ul div a.hasdropdown:link, nav.menu-cantainer ul div ul li a.hasdropdown:visited {
	line-height:25px;
	border:none;
	margin:0px;
	font-size:14px;
	text-transform:uppercase;
	color:#567A37;
	padding-left:15px;
	background:none;
	text-align:left;
}
nav.menu-cantainer ul div ul li a.hasdropdown:hover, nav.menu-cantainer ul div ul li a.hasdropdown:active {
	color:#FFF;
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

#jpreOverlay,
#jSplash {
	background-color:#FFF;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 700;
}

#jpreSlide{
	position:absolute;
	top: 50% !important;
	left: 50% !important;
	margin: -50px 0 0 -50px;
	width: 100px;
	height: 100px;
}

#jpreLoader {
	position: relative !important;
	width: 100% !important;
	height: 100% !important;
	top: 0 !important;	
}

#jprePercentage {
	width: 50px;
	height: 50px !important;
	line-height: 50px;
	position: absolute !important;
	text-align: center;
	left: 50%;
	top: 50%;
	margin: -25px 0 0 -25px;
	z-index: 800;
	
	font-size: 24px;
	color: #FFFFFF;	

	-webkit-animation: circle 1s infinite forwards;
	   -moz-animation: circle 1s infinite forwards;
		-ms-animation: circle 1s infinite forwards;
		 -o-animation: circle 1s infinite forwards;
			animation: circle 1s infinite forwards;
}

#circle {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 11;
	margin: -50px 0 0 -50px;
	width: 100px;
	height: 100px;
	background:#567A37;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
	opacity: 0;
	filter: alpha(opacity=0);
			
	-webkit-animation: circle 1s infinite forwards;
	   -moz-animation: circle 1s infinite forwards;
		-ms-animation: circle 1s infinite forwards;
			animation: circle 1s infinite forwards;
}

@-webkit-keyframes circle {
	0% {-webkit-transform: rotateY(0deg);
		-webkit-animation-timing-function: ease-in;
	}
	50% {-webkit-transform: rotateY(180deg);
		-webkit-animation-timing-function: ease-out;
	}
	100% {-webkit-transform: rotateY(0deg);
		-webkit-animation-timing-function: ease-in;
	}
}

@-moz-keyframes circle {
	0% {-moz-transform: rotateY(0deg);
	}
	50% {-moz-transform: rotateY(180deg);
		-moz-animation-timing-function: ease-out;
	}
	100% {-moz-transform: rotateY(0deg);
		-moz-animation-timing-function: ease-in;
	}
}

@-ms-keyframes circle {
	0% {-ms-transform: rotateY(0deg);
		-ms-animation-timing-function: ease-in;
	}
	50% {-ms-transform: rotateY(180deg);
		-ms-animation-timing-function: ease-out;
	}
	100% {-ms-transform: rotateY(0deg);
		-ms-animation-timing-function: ease-in;
	}
}

@-o-keyframes circle {
	0% {-o-transform: rotateY(0deg);
		-o-animation-timing-function: ease-in;
	}
	50% {-o-transform: rotateY(180deg);
		-o-animation-timing-function: ease-out;
	}
	100% {-o-transform: rotateY(0deg);
		-o-animation-timing-function: ease-in;
	}
}

@keyframes circle {
	0% {transform: rotateY(0deg);
		animation-timing-function: ease-in;
	}
	50% {transform: rotateY(180deg);
		animation-timing-function: ease-out;
	}
	100% {transform: rotateY(0deg);
		animation-timing-function: ease-in;
	}
}


